.container
  .footer
    .footer-wrapper
      hr
      p 
        | &copy; · 2017-2020 &nbsp;
        a(href="http://jinggo.ml") #{App.getSiteName()} Blog
        |  ·

        if viewHelper != null
          span  #{viewHelper.getResponseTime()}ms
       
