nav.navbar.navbar-bright
  .container
    .navbar-header
      a.navbar-brand(href="/") ~似水流年~
    div#navbar
      ul.nav.navbar-nav.navbar-right
        li: a(href="/posts/archive") 归档
        li: a(href="/tags") 标签
        li: a(href="/love") LOVE
        li: a(href="/about") 关于
    
