extends ../layout/app

block page_title
    .avatar
        img(src="/images/jing.jpeg")
    h1 Jingzing
    p.meta #{App.getSiteSlogan()}

    p 如果这世界上真有奇迹，那只是努力的另一个名字。

block title 
    = App.getSiteName()

block content
    // include ../posts/index

    .latest-posts
        hr
        h2.text-center Latest Posts
    for post in posts
        .post-item
            a(href="/posts/#{post.getPermalink().length() > 0 ? post.getPermalink() : post.getId()}")
                h2 #{post.getTitle()}
                .meta
                    span #{viewHelper.getFormattedDate(post.getCreatedAt())}

    .loadmore
        a.btn.btn-default(href="/posts/archive") More
